<div class="row">
  <div class="col-12" id="game-section">
    <div class="d-flex justify-content-center">
      <div *ngIf='myService.gameLoading' class="loader mt-3"></div>
    </div>
    <h2 *ngIf='!myService.currentGame && !myService.gameLoading' class="d-flex justify-content-center mt-5">Choose a
      game
      from above</h2>
    <div *ngIf='myService.gameClicked' class="col-12">
      <h4 class="d-flex justify-content-center mt-2">
        {{myService.currentGame.awayTeam.City}} {{myService.currentGame.awayTeam.Name}} @
        {{myService.currentGame.homeTeam.City}} {{myService.currentGame.homeTeam.Name}}
      </h4>
    </div>
  </div>


</div>