#border {
    border-width: .075em;
    border-style: solid;
    white-space: nowrap;
    width: 100%;
    height: 6em;
    overflow: hidden;
}

p.this {
    margin-top: -1.2em;
}

p.this2 {
    margin-top: -.8em;
}