<div class="d-flex justify-content-center mt-2">
  <div *ngIf='myService.gamesLoading' class="loader mt-3"></div>
</div>
<div class="row" *ngIf='myService.realData && !myService.gamesLoading'>
  <div *ngFor='let i of myService.realData.dailygameschedule.gameentry; let item = index' class="col-4" id="border">
    <p class="d-flex justify-content-center">{{i.awayTeam.Name}}</p>
    <p class="d-flex justify-content-center this">@</p>
    <p class="d-flex justify-content-center this">{{i.homeTeam.Name}}</p>
    <p class="d-flex justify-content-center this2">{{i.time}}</p>
    <p aria-hidden="true" hidden>{{item}}</p>
    <div class="d-flex justify-content-center">
      <button value="{{item}}" (click)='gameClicked($event)'>Game</button>
    </div>
  </div>


</div>
<div class="row" *ngIf='myService.empty'>
  <div class="col-12 d-flex justify-content-center">
    <h2>No Games Scheduled</h2>
  </div>
</div>